* {
  box-sizing: border-box;
}

#project {
  color: blue;
  text-shadow: 2px 2px;
}

#myLogo figcaption  {
  width: 70%;
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  background-color: #f5f24d;
  text-align: center;
}

.container figcaption {
  font-weight: bold;
  text-decoration: none;
  vertical-align: middle;
  background-color: #f5f24d;
  text-align: center;
}

.myLogo img {
  width: 70%;
  height: auto;
  margin: 0 auto;
  float: left;
}

.myLogo{
  display: inline-block;
  width: 500px;
  vertical-align: middle;
  text-align: center;
}

.backgroundPicture  {
  background-size: cover;
}

#start {
  width: 30%;
  margin: auto;
  text-align: center;
}

#add-task {
  display: inline-block;
}

.list-group-item {
  margin: 5px;
  padding: 0;
}

.authors  {
  font-size: 14px;
}

#footer {
  color: black;
  font-weight: bolder;
}

.imgFooter  {
  color: black;
  font-weight: bolder;
}